# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# vscode folder
.vscode/

# Folder with recorded data
data/

# Folders for distributed app version
nuitka_compiled/

# Folder for Nuitka compiler
pylsl/

# Windows PS script for building an app
build.bat

# Folder for temporary files or utilites which are not necessary for the app
utilities/

# Folder with logs
logs/

# Folder for temporary files
temp/